In [2]:
import pandas as pd

# User info
df_users = pd.DataFrame({
    'user_id': [101, 102, 103, 104, 105],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'city': ['Lagos', 'Abuja', 'Enugu', 'Ibadan', 'Port Harcourt']
})

# Transaction info
df_transactions = pd.DataFrame({
    'user_id': [101, 102, 104, 106],
    'purchase_amount': [5000, 12000, 7000, 8000],
    'purchase_date': ['2023-01-15', '2023-02-20', '2023-03-10', '2023-04-12']
})

In [3]:
df_merged = pd.merge(df_users, df_transactions, on='user_id', how='outer')
print(df_merged)

   user_id     name           city  purchase_amount purchase_date
0      101    Alice          Lagos           5000.0    2023-01-15
1      102      Bob          Abuja          12000.0    2023-02-20
2      103  Charlie          Enugu              NaN           NaN
3      104    David         Ibadan           7000.0    2023-03-10
4      105      Eve  Port Harcourt              NaN           NaN
5      106      NaN            NaN           8000.0    2023-04-12

In [4]:
# Fill the missing purchases with 0
df_merged['purchase_amount'] = df_merged['purchase_amount'].fillna(0)

# Fill missing names with "Unknown"
df_merged['name'] = df_merged['name'].fillna('Unknown')

In [5]:
df_merged['purchase_date'] = pd.to_datetime(df_merged['purchase_date'], errors='coerce')
df_merged['purchase_date'] = df_merged['purchase_date'].dt.year

In [6]:
# Total purchase per city
city_purchase = df_merged.groupby('city')['purchase_amount'].sum().reset_index()
print(city_purchase)

            city  purchase_amount
0          Abuja          12000.0
1          Enugu              0.0
2         Ibadan           7000.0
3          Lagos           5000.0
4  Port Harcourt              0.0