In [5]:
import pandas as pd

log_data = {
    'Timestamp': ['2023-01-01 13:00', '01/02/2023 14:30', 'March 3, 2023 09:00', 'not recorded', '2023-05-05'],
    'User': ['admin', 'guest', 'Admin', 'SYSTEM', None],
    'Action': ['login', 'logout', 'Login', 'ERROR', 'log in']
}
logs = pd.DataFrame(log_data)
logs

             Timestamp    User  Action
0     2023-01-01 13:00   admin   login
1     01/02/2023 14:30   guest  logout
2  March 3, 2023 09:00   Admin   Login
3         not recorded  SYSTEM   ERROR
4           2023-05-05    None  log in

In [8]:
# Clean Timestamp
logs['Timestamp'] = pd.to_datetime(logs['Timestamp'], errors='coerce')

# Clean User
logs['User'] = logs['User'].str.strip().str.lower()

# Normalize Action
logs['Action'] = logs['Action'].str.lower().str.strip().str.replace({'log in': 'login', 'Login': 'login'}, '')

# Drop missing users
logs = logs.dropna(subset=['User'])

logs

            Timestamp    User  Action
0 2023-01-01 13:00:00   admin     NaN
1                 NaT   guest     NaN
2                 NaT   admin     NaN
3                 NaT  system     NaN